<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>安否確認アプリ</title>
  <link rel="stylesheet" href="/static/css/style.css">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="modern-header">
    <div class="header-logo">Portfolio</div>
    <nav class="header-nav">
      <a href="index.html">← ポートフォリオに戻る</a>
    </nav>
  </header>
<h2>現在Flutterで開発中です。</h2>
</body>